<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.getwelltalent.talentsapp"
    version     = "1.0.1" >

    <!-- versionCode is optional and Android only -->

    <name>WellTalent</name>

    <description>
        La nueva forma de encontrar empleo en el sector Wellness.
    </description>

    <author href="https://getwelltalent.com" email="support@getwelltalent.com">
        WellTalent
    </author>
    
    <preference name="android-minSdkVersion" value="17" />
    <preference name="android-targetSdkVersion" value="28" /> 
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="false" />
    <preference name="android-build-tool" value="gradle" />
    
    <icon src="img/icon.png" />
		
    <platform name="android" />

    <plugin name="cordova-plugin-whitelist" source="npm" />

    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-navigation href="data:*" />

    <access origin="*" />

</widget>